body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
h1{
    text-align: center;
    color: rgb(166, 224, 243);
    background-color: deepskyblue;
    margin: 0;
    height: 30vh; 
    justify-content: center;
    align-items: center;
    display: flex; 
    font-size: 50px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    background-color: lightskyblue;
    display: flex;
    
}  
li a { 
    color:white;
    padding: 10px;
    text-decoration: none;
    
}
li a:hover {
    background-color: orange;    
}
  